<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Report general parameters-->

    <add key="RootFolder" value="C:\AutomationOutput" />
    <add key="ReportLogLevel" value="2" />
    <add key="FailTheTestInException" value="false" />

    <add key="ProductName" value="IAM ADmin Tool" />

    <add key="ProductVersion" value="Version 1" />
   
    <!--BrowserType: chrome, edge-->
    <add key="BrowserType" value="chrome;edge" />

    <!--RunMode: local (for regular mode), remote (for docker)-->
    <add key="RunMode" value="local" />

    <!--RemoteDriverUri: Remote driver URI haifa-->
    <add key="RemoteDriverUri" value="http://130.147.173.13:4444/wd/hub" />
    <add key="RemoteDriverUri1" value="http://localhost:4444/wd/hub"/>

    <add key="HttpProxy" value="emea.zscaler.philips.com:9480" />
    <add key="FtpProxy" value="emea.zscaler.philips.com:9480" />
    <add key="SslProxy" value="emea.zscaler.philips.com:9480" />


  </appSettings>
</configuration>